@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html,
body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1396px;
  width: 100%;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  padding: 5px;
}

.table th {
  padding: 5px 20px 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #b0b0b0;
  text-align: left;
}

.table td {
  background-color: #ffffff;
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid rgba(60, 55, 77, 0.2);
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.header {
  margin-bottom: 40px;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
}

.header__inner {
  display: flex;
  align-items: center;
}

.logo__img {
  margin-right: 53px;
}

.form {
  max-width: 580px;
  width: 100%;
}

.form__input {
  padding: 12px 16px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.2);
}

.form__input::placeholder {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}

.table-wrapper {
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1186px;
  width: 100%;
}

.table-wrappet__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: #333333;
}

.creationdate span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}
.changedate span {
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #b0b0b0;
}

.btn {
  position: relative;
  padding-left: 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}

.btn::after {
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.btn--change::after {
  background-image: url("../images/edit.svg");
}
.btn--delete::after {
  background-image: url("../images/cancel.svg");
}

.arrow {
  position: relative;
}

.arrow::before {
  position: absolute;
  top: 2px;
  right: -15px;
  display: block;
  width: 12px;
  height: 12px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/arrow_downward.svg");
}

tr .id {
  font-weight: 400;
  font-size: 12px;
  color: #b0b0b0;
}

.creationdate span {
  margin-left: 8px;
}
.changedate span {
  margin-left: 8px;
}

.addclient {
  position: relative;
  margin: 50px auto;
  display: block;
  padding: 12px 26px 12px 55px;
  border: 1px solid #9873ff;
  cursor: pointer;
  box-shadow: 0px 9.03012px 27.0904px rgba(176, 190, 197, 0.32),
    0px 3.38629px 5.64383px rgba(176, 190, 197, 0.32);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #9873ff;
  transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.addclient:hover {
  background-color: #b89eff;
  border-color: #9873ff;
  color: #ffffff;
}

.addclient:focus {
  background-color: #8052ff;
  border: 1px solid #9873ff;
  color: #ffffff;
}
.addclient:focus::after {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(84deg) brightness(103%)
    contrast(101%);
}

.addclient::after {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 26px;
  display: block;
  width: 22px;
  height: 16px;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-image: url("../images/svg-editor-image.svg");
  filter: invert(49%) sepia(23%) saturate(1444%) hue-rotate(214deg)
    brightness(102%) contrast(102%);
  transition: filter 0.3s;
}

.addclient:hover::after {
  filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(84deg) brightness(103%)
    contrast(101%);
}
